{% extends 'Home_Page/Base.html' %}

{% block content %}

  <form class="col-md-6 col-md-offset-3">
      <table class="table table-bordered" style="width:50%">
          <tr>
            <th>Department Code</th>
            <th>Department Name</th>
          </tr>
          {% for course in departments %}
            <tr>
                <td><a href="/course/browse/{{course.department_key}}">{{course.department_key}}</a></td>
                <td>{{course.department_name}}</td>
          {% endfor %}
            </tr>
      </table>
  </form>

  {% endblock %}